.container {
  width: 960px;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
table {
  border-spacing: 10px;
  padding: 10px;
  margin: auto;
}
th,
td {
  font-weight: normal;
}
td {
  margin: 10px;
}
input {
  margin: 5px 0;
  padding: 10px;
}
button,
#updateBtn,
#deleteBtn {
    padding: 10px 20px;
    background: lightslategray;
    color: white;
    border: 1px solid #555;
    border-radius: 3px;
    cursor: pointer;
  }
  #updateBtn{
    background: #008348;
  }
  #deleteBtn {
    background:#B32034;
  }
#updateBtn a,
#deleteBtn a {
  color: white;
  text-decoration: none;
}
#addUser {
  display: inline-block;
  background: lightslategray;
  border: 1px solid #555;
  border-radius: 3px;
}
#addUser a {
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
}
button:hover,
#updateBtn:hover,
#deleteBtn:hover,
#addUser:hover {
  opacity: 0.7;
}
label {
  margin-right: 10px;
}
